<html>
  <head>
    <title>Olajugba Oluwaseyi 18CJ024148 DATA VISUALIZATION ASSIGNMENT</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">Population of Women Enrolled in Teiary Institutions for Engneering, Manufacturing and Construction</h1>

    <div class="cell">
        <p class="main-text">
           This Bar plots below show the Population of Women Enrolled in Tetiary Institutions for Engineering, Manufacturing and Construction from the
           year 2011-2019
        </p>
<br/><br/>
        <img src='../static/2011.png' width="70%">
<br/><br/>
        <img src='../static/2012.png' width="70%">
<br/><br/>
        <img src='../static/2013.png' width="70%">
<br/><br/>
        <img src='../static/2014.png' width="70%">
<br/><br/>
        <img src='../static/2015.png' width="70%">
<br/><br/>
        <img src='../static/2016.png' width="70%">
<br/><br/>
        <img src='../static/2017.png' width="70%">
<br/><br/>
        <img src='../static/2018.png' width="70%">
<br/><br/>





      </div>


     


      </div>

  </body>
</html>
